
<body>
    <p>El balance de tu cuenta es:</p> <%= $monto %>
    <br>
    <form action="/home" method="post">
    <p>Monto: </p>
    <input type="text" name="monto">
    <br>
    <input type="submit" value="depositar">
    </form>

</body>
